.customlink:link, .customlink:visited
{
	font-family:Verdana;
	font-size: 14px;
	text-decoration: none;
	color: blue;
/* 	text-transform: uppercase; */
}

.customlink:hover
{
	color: black;
}

.customlink:active
{
	color: black;
}

body
{
	font-family: Verdana;
	font-weight: normal;
	color: black;
	font-size: 15px;
	background-color: #E8E8E8;  
}
